*{
    padding: 0;
    margin: 0;
}
h1{
    text-align: center;
    font-family: "Nova Square", serif;
    /*font-family: "Permanent Marker", serif;*/
}

header{
    height: 50px;
}
main{
    text-align: center;
    height: 500px;
    color: rgb(8, 8, 8);
}
h2{
    padding-bottom: 5px;
    font-family: "Permanent Marker", serif;
}
p{
    height: 15pxs;
}
#prestamo{
    height: 60px;
}
#filtrar_banco{
    height: 40px;
}
#agregar_banco{
    height: 130px;
}
#formulario{
    height: 60px;
}
#dolar-api{
    padding-top: 5px;
    height: 60px;
}