*{
  padding: 0;
  margin: 0;
}

header{
  box-sizing: border-box;
  height: 100px;
  background-repeat: no-repeat;
  background-size: cover;
}
h1{
  padding-top: 13px;
  padding-left: 5px;
}
.navbar{
  box-sizing: border-box;
  height: 50px;
  width: 100%;
  background-color: #a5a4a1;
  font-family: "Permanent Marker", cursive;
  
  ul{
      display: flex;
      list-style-type: none;
      box-sizing: border-box;
      justify-content: space-evenly;
      
      li{
          height: 50px;
          display: inline-flex;
          width: 24%;
          text-align: center;
          justify-content: space-evenly;
          align-items: center;
          box-sizing: border-box;
          
          .link-Navbar{
              text-decoration: none;
              color: black;
          }
          .link-Navbar.active{
            color:rgb(169, 56, 56);
          }
      }
      .Carrito{
        height: 30px;
        justify-content: flex-end;
      }
      .botonCarrito{
        padding: 5px 25px 5px 25px;
        
      }
  }
}

.ItemList-grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;

 .product-cariito{
    background-color: rgb(204, 30, 30);
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 0 0 3px rgba(95, 95, 206, 0.2);
  }
  .product-carrito_img{
    width: 100%;
  }
}

